.flexbox {
    display: flex;
}
.inline-flexbox {
    display: inline-flex;
}

.flex-none {
    flex: none;
}
.flex-auto {
    flex: auto;
}
.flex-one {
    flex: 1;
}
.flex-one-one-auto {
    flex: 1 1 auto;
}

.row {
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}
.column {
    flex-direction: column;
}
.column-reverse {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}
.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.align-content-flex-start {
    align-content: flex-start;
}
.align-content-flex-end {
    align-content: flex-end;
}
.align-content-center {
    align-content: center;
}
.align-content-space-between {
    align-content: space-between;
}
.align-content-space-around {
    align-content: space-around;
}
.align-content-stretch {
    align-content: stretch;
}

.align-items-flex-start {
    align-items: flex-start;
}
.align-items-flex-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-stretch {
    align-items: stretch;
}

.align-self-auto {
    align-self: auto;
}
.align-self-flex-start {
    align-self: flex-start;
}
.align-self-flex-end {
    align-self: flex-end;
}
.align-self-center {
    align-self: center;
}
.align-self-baseline {
    align-self: baseline;
}
.align-self-stretch {
    align-self: stretch;
}

.justify-content-flex-start {
    justify-content: flex-start;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
